@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* header section */

.header {
    /* background-color: rgb(11, 85, 138); */
    padding: 35px 0;
    position: fixed;
    width: 100%;
    /* z-index: 99; */
    font-family: 'Ubuntu', sans-serif;
}

.navbar .sticky {
    padding: 35px 0;
    background: red;
}

.container {
    max-width: 70%;
    padding: 0px 80px;
    margin: auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo a {
    color: beige;
    font-size: 55px;
    font-weight: 600;
}

.header .logo a span {
    color: rgb(38, 38, 41);
}

.header .menu li {
    list-style: none;
    display: inline-block;
}

.header .menu li a {
    color: rgb(23, 23, 21);
    font-size: 35px;
    font-weight: 500;
    margin-left: 45px;
    transition: color 0.3s ease;
}

.header .menu li a:hover {
    color: rgb(245, 16, 16);
}


/* menu button styling */

.menu2 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    display: none;
    cursor: pointer;
}


/* home section */

.home {
    display: flex;
    background: url("banner.webp") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    min-height: 500px;
    color: beige;
}

.home .home-cont {
    margin: auto 0 auto 40px;
    max-width: 1500px;
    padding: 0px 80px;
}

.home .home-cont .text-1 {
    font-size: 40px;
}

.home .home-cont .text-2 {
    font-size: 100px;
    font-weight: 600;
    /* margin-left: -3px; */
}

.home .home-cont .text-3 {
    font-size: 60px;
    margin: 5px 0;
}

.home .home-cont .text-3 span {
    color: rgb(38, 38, 41);
    font-weight: 600;
}


/* responsive media query */

@media (max-width:991px) {}