                @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300&family=Ubuntu:wght@400;500;700&display=swap');
                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    text-decoration: none;
                }
                
                body {
                    background: #000;
                }
                /* header section */
                
                .header {
                    background-color: rgb(26, 27, 27);
                    padding: 29px 0;
                    position: fixed;
                    width: 100%;
                    z-index: 999;
                    font-family: 'Ubuntu', sans-serif;
                }
                
                .navbar .sticky {
                    padding: 35px 0;
                    background: red;
                }
                
                .container {
                    max-width: 70%;
                    padding: 0px 80px;
                    margin: auto;
                }
                
                .header .container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .header .logo a {
                    color: beige;
                    font-size: 45px;
                    font-weight: 400;
                }
                
                .header .logo a span {
                    color: rgb(243, 22, 48);
                }
                
                .header .menu li {
                    list-style: none;
                    display: inline-block;
                }
                
                .header .menu li a {
                    color: rgb(233, 230, 230);
                    font-size: 35px;
                    font-weight: 500;
                    margin-left: 45px;
                    transition: color 0.3s ease;
                }
                
                .header .menu li a:hover {
                    color: rgb(245, 16, 16);
                }
                /* menu button styling */
                
                .menu2 {
                    width: 35px;
                    height: 5px;
                    background-color: black;
                    margin: 6px 0;
                    display: none;
                    cursor: pointer;
                }
                /* home section */
                
                .home {
                    display: flex;
                    background: url("banner2.webp") no-repeat center;
                    background-size: cover;
                    background-attachment: fixed;
                    height: 100vh;
                    font-family: 'Ubuntu', sans-serif;
                    min-height: 500px;
                    color: beige;
                    /* margin-bottom: 55px; */
                }
                
                .home .home-cont {
                    margin: auto 0 auto 40px;
                    max-width: 1500px;
                    padding: 0px 80px;
                    color: white;
                }
                
                .home .home-cont .text-1 {
                    font-size: 30px;
                }
                
                .home .home-cont .text-2 {
                    font-size: 80px;
                    font-weight: 600;
                    /* margin-left: -3px; */
                }
                
                .home .home-cont .text-3 {
                    font-size: 40px;
                    margin: 5px 0;
                }
                
                .home .home-cont .text-3 span {
                    color: rgb(221, 40, 40);
                    font-weight: 600;
                }
                /* about us section  */
                
                .about {
                    font-family: 'poppins', sans-serif;
                    padding: 100px 0;
                    font-size: 30px;
                    padding: 60px 80px;
                    /* margin-top: 55px; */
                    /* margin-bottom: 30px; */
                    /* max-width: 1500px; */
                    color: white;
                    background-color: #000000;
                    background-image: linear-gradient(315deg, #000000 0%, #181616 74%);
                }
                
                .title {
                    position: relative;
                    text-align: center;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 70px;
                    font-weight: 600;
                    padding-top: 55px;
                    margin-bottom: 60px;
                    padding-bottom: 35px;
                    color: white;
                }
                
                .title::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 150vh;
                    height: 5px;
                    background: rgb(235, 36, 36);
                    transform: translateX(-50%);
                }
                
                .title::after {
                    /* content: "who i am"; */
                    position: absolute;
                    bottom: -16px;
                    left: 50%;
                    color: crimson;
                    font-size: 30px;
                    padding: 5px;
                    /* background: #414141; */
                    transform: translateX(-50%);
                }
                
                .about .about-cont {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                
                .about .about-cont .right {
                    width: 55%;
                    padding: 2px 90px 2px;
                }
                
                .text {
                    font-size: 65px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                
                .about .about-cont .right p {
                    text-align: justify;
                    margin-bottom: 30px;
                }
                
                .text span {
                    color: red;
                }
                
                .about .about-cont .right .cont2 img {
                    height: 50px;
                    width: 50px;
                    margin-right: 30px;
                    border-radius: 50%;
                }
                
                .about .about-cont .right ul li {
                    list-style: none;
                    font-size: 35px;
                    margin-bottom: 30px;
                }
                
                .about .about-cont .right a {
                    display: inline-block;
                    background: crimson;
                    color: white;
                    font-weight: 600;
                    font-size: 25px;
                    padding: 12px 36px;
                    margin-top: 20px;
                    border-radius: 6px;
                }
                
                .about .about-cont .right a:hover {
                    background: none;
                    color: crimson;
                    border: 2px solid red;
                }
                
                .about .about-cont .left img {
                    height: 600px;
                    width: 800px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                /* skills section styling  */
                
                .skills,
                .expertise {
                    font-size: 35px;
                    color: white;
                    background-color: #000000;
                    background-image: linear-gradient(315deg, #000000 0%, #181616 74%);
                }
                
                .skills-content {
                    /* max-width: 70%; */
                    padding: 0px 85px;
                    font-family: 'poppins', sans-serif;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                }
                
                .skills-content .left {
                    width: 70%;
                    margin-bottom: 25px;
                }
                
                .skills .skills-content .left .text {
                    font-size: 60px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    display: inline-block;
                }
                
                .skills .skills-content .left .text span {
                    color: red;
                }
                
                .skills .skills-content .left p {
                    font-size: 25px;
                    text-align: justify;
                    margin-bottom: 35px;
                }
                
                .skills .skills-content .left a {
                    Display: inline-block;
                    background: crimson;
                    color: white;
                    font-weight: 600;
                    font-size: 25px;
                    padding: 12px 36px;
                    margin-top: 20px;
                    border-radius: 6px;
                }
                
                .skills .skills-content .right span {
                    font-weight: 600;
                    font-size: 25px;
                }
                
                .skills .skills-content .right {
                    width: 20%;
                }
                
                .skills .skills-content .right img {
                    width: 100%;
                }
                
                .expertise {
                    padding: 60px 80px;
                    font-family: 'poppins', sans-serif;
                    text-align: center;
                }
                
                .expertise .text {
                    padding-bottom: 35px;
                }
                
                .expertise .right {
                    align-items: center;
                    width: 50%;
                    display: inline-block;
                }
                
                .expertise .right .bars {
                    padding-bottom: 35px;
                }
                
                .expertise .right .info {
                    display: flex;
                    justify-content: space-between;
                    font-size: 25px;
                }
                
                .expertise .right .line {
                    height: 6px;
                    width: 100%;
                    background: rgb(236, 227, 227);
                }
                
                .expertise .right .line::before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: auto;
                    left: 0;
                    top: 0;
                    color: rgb(244, 224, 228);
                }
                
                .heading {
                    text-align: center;
                    position: relative;
                    font-family: 'poppins', sans-serif;
                }
                
                .heading h1 {
                    color: white;
                    font-size: 70px;
                    font-weight: 700;
                }
                
                .heading h1 span {
                    color: red;
                    padding-left: 16px;
                }
                
                .footer-basic {
                    padding: 40px 0;
                    /* background-color: #ffffff; */
                    background-color: #000000;
                    background-image: linear-gradient(315deg, #000000 0%, #181616 74%);
                    color: #dee5ec;
                }
                
                .footer-basic ul {
                    padding: 0;
                    list-style: none;
                    text-align: center;
                    font-size: 38px;
                    line-height: 1.6;
                    margin-bottom: 0;
                }
                
                .footer-basic li {
                    padding: 0 10px;
                }
                
                .footer-basic ul a {
                    color: inherit;
                    text-decoration: none;
                    opacity: 0.8;
                }
                
                .footer-basic ul a:hover {
                    opacity: 1;
                }
                
                .footer-basic .social {
                    text-align: center;
                    padding-bottom: 25px;
                }
                
                .footer-basic .social>a {
                    font-size: 24px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    text-align: center;
                    border-radius: 50%;
                    border: 1px solid #ccc;
                    margin: 0 8px;
                    color: inherit;
                    opacity: 0.75;
                }
                
                .footer-basic .social>a:hover {
                    opacity: 0.9;
                }
                
                .footer-basic .copyright {
                    margin-top: 15px;
                    text-align: center;
                    font-size: 13px;
                    color: #aaa;
                    margin-bottom: 0;
                }
                /* responsive media query */
                
                @media (max-width:615px) {
                    .about .about-cont .left img {
                        display: none;
                    }
                    .skills .skills-content .right img {
                        display: none;
                    }
                    .skills-content .left {
                        margin-bottom: 0px;
                    }
                    .text {
                        font-size: 43px;
                    }
                }
                
                @media (max-width:764px) {
                    .about {
                        padding: 0px 41px;
                    }
                    .header .container .logo a {
                        font-size: 42px;
                    }
                    .menu-btn .menu2 {
                        display: none;
                    }
                }
                
                @media (max-width:586px) {
                    .home {
                        width: 151%;
                    }
                    .about {
                        width: 151%;
                    }
                    .skills {
                        width: 151%;
                    }
                    .expertise {
                        width: 151%;
                    }
                    .footer-basic {
                        width: 151%;
                    }
                }
                
                @media (max-width:827px) {
                    .home .home-cont {
                        margin: auto 0 auto 20px;
                        /* max-width: 1500px; */
                        padding: 0px 30px;
                    }
                    .home .home-cont .text-1 {
                        font-size: 40px;
                    }
                    .home .home-cont .text-2 {
                        font-size: 70px;
                        font-weight: 600;
                        /* margin-left: -3px; */
                    }
                    .home .home-cont .text-3 {
                        font-size: 40px;
                        margin: 5px 0;
                    }
                    .title::before {
                        display: none;
                    }
                    .expertise .right {
                        width: 100%;
                    }
                }
                
                @media (max-width:1278px) {
                    .about .about-cont .left img {
                        height: 496px;
                        width: 436px;
                    }
                }
                
                @media (max-width:1379px) {}
                
                @media (max-width:1498px) {
                    .container {
                        padding: 0px 80px;
                    }
                    .menu-btn {
                        display: flex;
                        flex-direction: column;
                        padding: 20px 20px 20px;
                        margin: 20px 20px 20px;
                        margin: 0px 111px 0px 3px;
                        cursor: pointer;
                        transition: all 0.3s ease;
                    }
                    .menu2 {
                        background: rgb(235, 226, 226);
                        z-index: 999;
                        display: inline-block;
                    }
                    .header .menu {
                        position: fixed;
                        /* background: rgb(60, 54, 54); */
                        background: white;
                        height: 100vh;
                        width: 100%;
                        left: -100%;
                        top: 0;
                        text-align: center;
                        padding-top: 80px;
                    }
                    .header .menu .active {
                        left: 0%;
                    }
                    .header .menu li {
                        display: block;
                    }
                    .header .menu li a {
                        display: inline-block;
                        margin: 20px 0;
                        font-size: 35px;
                    }
                    .skills-content {
                        display: block;
                    }
                    .skills .skills-content .left {
                        width: 100%;
                    }
                    .skills .skills-content .right {
                        width: 100%;
                    }
                    .skills .skills-content .right .info {
                        width: 69%;
                    }
                    .title::before {
                        width: 100vh;
                    }
                    .skills .skills-content .right img {
                        width: 50%;
                    }
                }
                
                @media (max-width:1598px) {
                    .about .about-cont .right {
                        width: 90%;
                        padding: 0px 0px 2px;
                    }
                }
                
                @media (max-width:2028px) {
                    .container {
                        max-width: 100%;
                    }
                    .about .about-cont .left img {
                        height: 542px;
                        width: 555px;
                        /* object-fit: cover; */
                        border-radius: 10px;
                    }
                }
                
                @media (max-width: 500px) {
                    .home,
                    .about,
                    .skills,
                    .expertise,
                    .footer-basic {
                        width: 183%;
                    }
                }